.container-fluid {
    background: #E7ECED;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    width: 1440px;
}

.collapse {
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
}

.collapse>.navbar-nav>.nav-item>.nav-link {
    color: rgba(120, 140, 150, 1);
}

.collapse>.navbar-nav>.nav-item>.nav-color {
    color: #35717A;
    font-weight: 500;
}

.collapse>.navbar-nav>.nav-item>.nav-link:hover{
    color: #35717A;
}

.dropdown-menu {
    background-color: #F4F7F8;
    font-family: Hind Siliguri;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
}

.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 5px;
  }

.navbar-nav>.nav-item>ul>li>a{
    color: #788C96;
}

.navbar-nav>.nav-item>ul>li>a:hover{
    color: #35717A;
    background-color: #F4F7F8;
}

.box {
    height: 501px;
    width: 491px;
    left: 753px;
    top: 257px;
    border-radius: 30px;
    background: #E7ECED;
    box-shadow: 4px 4px 4px 0px #E5E5E5;
}

.boxContent {
    width: 80px;
    height: 45px;
    font-style: normal;
    font-family: Hind Siliguri;
    line-height: 140%;
    color: #35717A;
}

::placeholder {
    color: rgba(191, 199, 203, 1);
}

.boxContent>h1 {
    font-size: 32px;
    font-weight: bold;
}

.boxContent>form>label {
    font-weight: 600;
    font-size: 18px;
}

.boxContent>form>input {
    width: 398px;
    height: 48px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.boxContent>form>button {
    width: 398px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #08839E;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px #35717A;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #35717A;
}

.boxContent>form>p>a {
    color: #35717A;
}